<div class="container">
  <div class="row">
                <!-- <div class="col-lg-8 tabla_posiciones" [ngSwitch]="verElemento"> -->
    <div class="col-lg-8" >
       <app-seccion-equipo (mostrar)="mostrarDescripcionEquipo($event)"></app-seccion-equipo>
    </div>
    <div class="col-lg-4 ">
                        
      <app-seccion-personal-equipo [equip]="equipo" (emitir)="mostrarNuevoPer($event)" *ngIf="verLista">     
      </app-seccion-personal-equipo>
                        
    </div>
  </div>
  <br>
  
  <div class="row" >
    <div class="col-lg-12" [hidden]="!verNuevoPersonal">
        <app-nuevo-personal [IdEquipo]="equipo._id" [PersonaRecibida]="persona" *ngIf="verNuevoPersonal" ></app-nuevo-personal>
    </div>

  </div>
</div>
<hr class="featurette-divider">

